@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html, body {
    height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  background: linear-gradient(#9dc1f7, #b86ff3) ;
  font-family: Rubik;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container { 
    flex: 1 0 auto;
    padding: 20px;
}

.previousBtn, .nextBtn, .question_close, .submit{
    background-color: rgb(39, 154, 231);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(113, 105, 226);
} 

.options {
    background-color: #aa8bf3;
    font-size: 18px;
    color: white;
}